@tailwind base;

#toggle:checked ~ label div.toggle-dot {
    @apply translate-x-3;
}



@tailwind components;
@tailwind utilities;

.customBtn {
    @apply bg-purple;
    @apply shadow-lg;
}

.customBtn:hover {
    @apply bg-Vampire-Gray;
    @apply text-black;
    @apply shadow-lg;
}

:root {
    --code-color: rgb(143, 0, 0);
    --code-bg-color: #aaaaaa;
    --code-font-size: 14px;
    --code-line-height: 1.3;
    --scroll-bar-color: #0011ff;
    --scroll-bar-bg-color: #00ffff;
}

pre {
    color: var(--code-color);
    font-size: var(--code-font-size);
    line-height: var(--code-line-height);
    background-color: var(--code-bg-color);
}

.code-block {
    max-height: 100px;
    overflow: auto;
    padding: 8px 7px 5px 15px;
    margin: 0px 0px 0px 0px;
    border-radius: 1px;
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}
